new post
<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <%# t.string "title" %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%# t.text "content" %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%# t.integer "likes" %>
  <%= f.label :likes %>
  <%= f.number_field :likes %>
  
  <%# t.integer "blogger_id" %>
  <%= f.label :blogger_id %>
  <%= f.collection_select :blogger_id, @bloggers, :id, :name %>
  
  <%# t.integer "destination_id" %>
  <%= f.label :destination_id %>
  <%= f.collection_select :destination_id, @destinations, :id, :name %>

  <%= f.submit %>
<% end %>